
#flex-container{
    display:flex;
    height:512px;
    width:auto;
    justify-content: center;
    align-items: center;
}
.bigbox{
    display:flex;
    flex-wrap:wrap;
    width:512px;
    height:512px;
    background-color: lightblue;
}
.box{
    width: 16px;
    height: 16px;
}
.hover{
    background-color: black;
}